# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Lambda build artifacts
lambda/build/
lambda/credential-config.json

# Python
__pycache__/
*.pyc
.pytest_cache/
venv/
.venv/

# OS
.DS_Store
